.profile-container {
    width: 100vw;
    margin-top: 15vh;

}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 44px;
}

.profile-picture-container {
    width: 150px;
    margin-right: 30px;
    flex-shrink: 0;
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

}

.profile-info {
    flex-grow: 1;
    margin-left: 10px;
}

.profile-username-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-username {
    font-size: 28px;
    font-weight: 300;
    margin-right: 20px;
}

.profile-actions {
    display: flex;
    gap: 40px;
}

.profile-actions ul li i {
    margin-left: 10px;

}

.profile-edit-btn {
    background-color: #e65b0b;
    color: #fff;
    border: none;
    border-radius: 4px;

    font-size: 14px;
    cursor: pointer;
}

.profile-stats {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.profile-stat-item {
    font-size: 16px;
}

.profile-stat-number {
    font-weight: 600;
}


.profile-nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid #262626;
    margin-bottom: 24px;
}

.profile-nav-item {
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-top: 1px solid transparent;
    margin-top: -1px;
}


/* .profile-nav-item:active{
     color: #fff;
     border-top-color: #fff;
 }  */

.profile-empty-state {
    text-align: center;
    padding: 60px 0;
}

.profile-empty-title {
    font-size: 30px;
    margin-bottom: 24px;
}

.profile-empty-text {
    color: #a8a8a8;
    margin-bottom: 24px;
}

.profile-share-btn {
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

.file-upload {
    display: none;
}

.upload-button {
    color: #0095f6;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 600px) {
    .profile-container {
        width: 100%;
    }

    .profile-username {
        font-size: 24px;
    }

    .profile-edit-btn {
        display: none;
    }

    .profile-stats {
        flex-direction: column;
        gap: 10px;
    }

}



.grid-item img:hover {
    transform: scale(1.05);
    /* Slight zoom on hover */
}